<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag("logo.png") %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

<!--     <a href="" class="navbar-wagon-item navbar-wagon-link">ABOUT US</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">RENT A BIKE</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">ADD A BIKE</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">YOUR PROFILE</a> -->
    <div >
      <%= link_to "SEARCH BIKES", bikes_path, class:"navbar-wagon-item navbar-wagon-link" %>
    </div>
    <div >
      <%= link_to "YOUR RENTALS", rentals_path, class:"navbar-wagon-item navbar-wagon-link" %>
    </div>
    <div >
      <%= link_to "YOUR PROFILE", profile_path, class:"navbar-wagon-item navbar-wagon-link"  %>
    </div>
    <div>
      <%= link_to "ADD BIKES", new_bike_path, class:"navbar-wagon-item navbar-wagon-link" %>
    <!-- <a href="#" class="btn-medium">SEARCH BIKES</a> -->
    </div>
    <div>
      <%= link_to "SEARCH BIKES", search_path, class:"btn-medium" %>
    <!-- <a href="#" class="btn-medium">SEARCH BIKES</a> -->
    </div>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

