<!-- <div class="container">
  <div class="row"> -->
      <%= simple_form_for [@bike, @rental] do |f| %>
        <div class="form-group">
      <%= f.label :start_date %>
        </div>
        <%= f.input_field :start_date, label: "Date", as: :string, class: 'datepicker' %>

        <div class="form-group">
          <%= f.label :end_date %>
        </div>
         <%= f.input_field :start_date, label: "Date", as: :string, class: 'datepicker' %>
         <div class="rent-button-container">
          <div class="rent-button">
            <%= f.submit "Rent this bike", class: "btn button_bike" %>
          </div>
         </div>

      <% end %>

 <!--  </div>
</div> -->


