<div class="rental-banner">
  <div>
    <h1>Thank you! Your booking has been confirmed confirmed!</h1>
  </div>
  <h2>Your current rentals:</h2>
</div>

<div class="container all-rentals">
  <% @rentals.each do |rental| %>

  <div class="rental">
      <div class="rental-photo">
    <ul style="list-style-type:none">
    <li><%= cl_image_tag(rental.bike.photo, width: '200px') %></li>

    </div>
      <div class="rental-details">
<ul style="list-style-type:none">
    <li><%=rental.bike.description%></li>
    <li> Start Date: <%= rental.nice_start_date %></li>
    <li> End Date: <%=rental.nice_end_date %></li>
    </div>



    <ul style="list-style-type:none"><li><%= link_to 'Delete this rental', rental_path(rental), method: :delete, class: "btn btn_primary" %></li>
       </ul>
        </div>
  <% end %>
  <%= link_to 'Rent more bikes', bikes_path, class: "btn btn_danger button"%>
 </div>





