<div class="form-style-5">
  <h1>ADD NEW BIKE 🚲</h1>
    <%= simple_form_for @bike do |f| %>
      <fieldset>
      <legend><span class="number">1</span> BIKE DESCRIPTION</legend>
        <h2>Size </h2>
        <div class="form-group">
          <%= f.input :size, collection: Bike.sizes.keys, label: false%>
        </div>

        <h2>PRICE</h2>
        <div class="form-group">
          <%= f.input :price_per_day, collection: Bike::PRICE_CHOICES,label: false %>
        </div>

        <legend><span class="number">2</span> ADD PHOTO OF BICYCLE</legend>
        <h2>Photo of your bike</h2>
        <div class="form-group">
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <legend><span class="number">3</span> LOCATION DESCRIPTION</legend>
        <h2>Neighborhood</h2>
        <div class="form-group">
          <%= f.input :neighborhood, collection: Bike.neighborhoods.keys, label: false %>
        </div>

        <h2>Precise pickup location</h2>
        <%= f.input :pickup_address, label: false %>
        <h2>Short description of your bike</h2>
        <div class="form-group">
          <%= f.input :description, as: :text,label: false %>
        </div>

        <%= f.submit "ADD", class: "btn btn-primary" %>
      <% end %>
</div>

